<ul class="clockOptions noClock">
    <!--<li>-->
    <!--<div test testr="test"></div>-->
    <!--</li>-->
    <!--    <li class="tapLi" id='repeatDay'>
            重复
            <span>周一 周二 周三 周四 周五 周六 </span>
        </li>-->

    <!--单选-->
    <li>
        <div wx-radio source="dataFormat">
            {{clockType.typeNameStr}}
            <div wx-radio-item ng-repeat="attr in clockType.attr" index="{{$index}}">
                <label for='{{attr.id}}'><span>{{attr.NameStr}}<i ng-class={'checkd':dataFormat.clockType==attr.value}
                                                                  class="wxRadio"></i></span>
                    <input type="radio" name='{{clockType.typeName}}' value="{{attr.value}}" id='{{attr.id}}'
                           ng-model="dataFormat.clockType">
                </label>
            </div>
        </div>
    </li>

    <li>
        <div wx-radio source="dataFormat">
            {{clockType2.typeNameStr}}
            <div wx-radio-item ng-repeat="attr in clockType2.attr" index="{{$index}}">
                <label for='{{attr.id}}'><span>{{attr.NameStr}}<i ng-class={'checkd':dataFormat.clockType2==attr.value}
                                                                  class="wxRadio"></i></span>
                    <input type="radio" name='{{clockType2.typeName}}' value="{{attr.value}}" id='{{attr.id}}'
                           ng-model="dataFormat.clockType2">
                </label>
            </div>
        </div>
    </li>

    <!--开关-->
    <li>
        <div switch-btn class="light-btn" ng-class={'off':!dataFormat.light}
             ng-click="dataFormat.light=!dataFormat.light">
            <div class="light-bg box-state">
                <span class="flex-1"></span>
                <span class="flex-1"></span>
            </div>
            <div class="swip-btn switch-btn"></div>
        </div>
    </li>

    <!--多选-->
    <li>
        <div wx-checkbox class="wxCheckboxtap" type-name={{checkboxData.typeNameStr}} source="dataFormat.lightDay" instead-arr="['周一','周二','周三','周四','周五','周六','周日']">
            <!--   重复弹出-->
            <div popup-div class="repeatDay" id='rdpopUp'>
                <h6>{{checkboxData.typeNameStr}}</h6>
                <ul class="myCheckbox">
                    <li wx-checkbox-item class='clearfix' ng-repeat="checkbox in checkboxData.attr">
                        <label for="{{checkbox.id}}"><span ng-bind="checkbox.nameStr"></span>
                            <i class="wxCheckbox fr mt8" ng-class={'checkd':checkbox.value==dataFormat.lightDay[checkbox.id]}></i>
                            <input type="checkbox" name="{{checkboxData.typeName}}" id='{{checkbox.id}}' ng-true-value="{{checkbox.value}}" ng-false-value='0' ng-checked="dataFormat.lightDay[checkbox.id]" ng-model="dataFormat.lightDay[checkbox.id]">
                        </label>
                    </li>
                    <li class="twobtn">
                        <a href="#" class="btnCancal">取消</a><a href="#" class="btnOK">确定</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <!--<li class="tapLi" id='tip'>-->
    <!--备注-->
    <!--<span></span>-->
    <!--</li>-->
</ul>